<html>

<head>
  <title>Blog write</title>
</head>
<script>
  function sendRequest() {
    var d = new Date();
    var year = d.getFullYear();
    var month = d.getMonth() + 1;
    var day = d.getDay();
    var date = year + '-' + month + '-' + day
    var secretkey = 'pw'
    var title = document.getElementById("title").value;
    var tags = document.getElementById("tags").value;
    var created_at = date;
    var edited_at = date;
    var content = document.getElementById("content").value;
    xmlhttp = new XMLHttpRequest();
    xmlhttp.open("POST", " http://127.0.0.1:5000/input-blog", true);
    xmlhttp.setRequestHeader("Content-type", "application/json");
    xmlhttp.send(JSON.stringify({
      "title": title,
      "tags": tags,
      "created_at": created_at,
      "edited_at": edited_at,
      "blogContent": content,
      "secretkey": secretkey
    }));
  }
</script>

<body>
  <div id="header">Blog write</div>
  <div id="body" style="width: 50%;">
    <input id="title"></input>
    <!--标题-->
    <input id="tags"></input>
    <textarea id="content" cols="40" rows="4" style="OVERFLOW:  visible"></textarea></td>
    <button onclick="sendRequest()">Write Down</button>
    <button onclick="toMD()">TO MD</button>
  </div>
  <div id="foot">--online blog--</div>
  <div>
    <p id="showmd"></p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script>
    function toMD() {
      var markdown_string = document.getElementById("content").value;
      document.getElementById('showmd').innerHTML =
        marked(markdown_string);
    }
  </script>
</body>

</html>