<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
    <title>地图显示</title>
    <style>
        html,
        body,
        #container {
            width: 100%;
            height: 100%;
        }

        /* 半透明的遮罩层 */
        .shadow {
            background: #000;
            filter: alpha(opacity=70);
            /* IE的透明度 */
            opacity: 0.5;
            /* 透明度 */
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 965;
            /* 此处的图层要大于页面 */
        }

        .login-box {
            text-align: center;
            width: 500px;
            height: 350px;
            border-radius: 10px;
            /*border: 3px solid gainsboro;*/
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: #e1f9ff;
            -webkit-box-shadow: #666 0 0 6px;
            -moz-box-shadow: #666 0 0 6px;
            box-shadow: #fff8e7 0 0 6px 6px;
            z-index: 996;
            /* 此处的图层要大于遮罩图层 */
        }
    </style>
</head>

<body>
    <button id="login-link" onclick="showlogin()">登录</button>
    <div style="display: none" class="shadow" id="shadow"></div>
    <div style="display: none" id="login-box" class="login-box">
        <div class="close-btn">
            <h3 align='center'>导游系统登录</h3>
        </div>
        <div class="input-item">
            <label for="username">用户名</label>
            <input type="text" name="username" id="username" placeholder="手机号码">
        </div>
        <div class="input-item">
            <label for="password">密　码</label>
            <input type="password" name="password" id="password" placeholder="密码">
        </div>
        <div class="role">
            <input type="radio" name="role" value="visitor">游客</input>
            <input type="radio" name="role" value="guide">导游</input>
        </div>
        <div class="input-item">
            <button type="button" id="login-btn">登　录</button>
            <button id="logon-link">注 册</button>
        </div>
    </div>
    <div style="display: none" id="logon-box" class="login-box">
        <div class="close-btn">
            <h3 align='center'>导游系统注册</h3>
        </div>
        <div class="input-item">
            <label for="logonUsername">用户名</label>
            <input type="text" name="logonUsername" id="logonUsername" placeholder="用户名">
        </div>
        <div class="input-item">
            <label for="logonPassword">密　码</label>
            <input type="text" name="logonPassword" id="logonPassword" placeholder="密码">
        </div>
        <div class="input-item">
            <label for="logonPhone">手机</label>
            <input type="text" name="logonPhone" id="logonPhone" placeholder="手机号码">
        </div>
        <div class="logonRole">
            <input type="radio" name="logonRole" value="visitor">游客</input>
            <input type="radio" name="logonRole" value="guide">导游</input>
        </div>
        <div class="input-item">
            <button type="button" id="logon-btn">注册</button>
        </div>
    </div>
    <div id="container"></div>
    <!-- 加载地图JSAPI脚本 -->
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=f4e095be087630133e20de9ce76e2fa8"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>
        
        //登录，点击登录显示登录框
        function showlogin(){
        $("#login-link").click(function () {
            $("#logon-box").hide();
            $("#login-box").show();
            $("#shadow").show();
            $("#role").show();
        });}
        //关闭登录框，点击关闭按钮关闭
        $("#close-login-btn").click(function () {
            $("#login-box").hide();
            $("#shadow").hide();
        });

        $("#role").toggle(
            function(){
            // $("#role").text( "游客");
                console.log("toggle 1");
            },
            function(){
            // $("#role").text("导游");
                console.log("toggle 2");
            }
            // function(){
            // $("#role").text() ;}
            );
            $("#logon-link").click(function () {
            $("#login-box").hide();
            $("#logon-box").show();
            $("#shadow").show();
            });



        $(function () {
            $('#login-btn').click(function () {
                username = $('#username').val();
                password = $('#password').val();
                $.ajax({
                    type: "POST",
                    url: "/maplogin",
                    data: {
                    username: $("#username").val(),
                    password: $("#password").val(),
                    role: $('input:radio[name="role"]:checked').val()
                    },
                    dataType: "JSON",
                    success: function(result) {
                        console.log(result.check)    
                        if(result.check == 1){
                            $.cookie('role', result.role, { expires: 7 });
                            $.cookie('mapid', result.cookie, { expires: 7 });
                            $.cookie('username', $("#username").val(), { expires: 7 });
                            window.location.href = "/map"; 
                            showlogin();
                        }else{ 
                            window.alert(result.info);
                        }
                    }
                });
            });
        });

        
        $(function () {
            $('#logon-btn').click(function () {
                username = $('#logonUsername').val();
                password = $('#logonPassword').val();
                $.ajax({
                    type: "POST",
                    url: "/maplogon",
                    data: {
                    username: $("#logonUsername").val(),
                    password: $("#logonPassword").val(),
                    phone: $("#logonPhone").val(),
                    role: $('input:radio[name="logonRole"]:checked').val()
                    },
                    dataType: "JSON",
                    success: function(result) {
                        console.log(result.check)    
                        if(result.check == 1){
                            window.alert('注册成功！');
                        }else{ 
                            window.alert('账号或密码错误！')
                        }
                    }
                });
            });
        });
        
        var map = new AMap.Map('container', {
            resizeEnable: true, //是否监控地图容器尺寸变化
            zoom: 15, //初始化地图层级
            center: [117.154973, 34.235778] //初始化地图中心点
        });

        var pointers = {
            outer: [
                [76.526976, 50.087886],
                [149.827757, 55.199944],
                [145.257445, -4.879047],
                [63.167601, -11.486909],
            ],
            inner: [
                [117.128425, 34.235984],
                [117.130603, 34.239532],
                [117.128479, 34.236055],
                [117.130367, 34.238991],
                [117.130893, 34.240188],
                [117.131966, 34.241404],
                [117.132556, 34.242654],
                [117.132878, 34.243204],
                [117.133178, 34.243541],
                [117.133532, 34.243674],
                [117.134423, 34.24386],
                [117.135002, 34.244357],
                [117.135313, 34.244809],
                [117.135667, 34.245545],
                [117.135978, 34.245927],
                [117.136794, 34.246583],
                [117.137094, 34.246645],
                [117.138843, 34.246601],
                [117.13924, 34.247372],
                [117.13939, 34.247399],
                [117.140034, 34.247381],
                [117.140667, 34.247328],
                [117.140967, 34.247443],
                [117.141429, 34.247452],
                [117.145152, 34.247257],
                [117.149905, 34.247124],
                [117.150752, 34.247151],
                [117.15161, 34.247346],
                [117.152383, 34.247319],
                [117.15337, 34.247239],
                [117.153981, 34.247071],
                [117.154271, 34.246982],
                [117.155119, 34.246964],
                [117.155859, 34.246787],
                [117.156202, 34.246725],
                [117.159464, 34.246512],
                [117.161513, 34.24653],
                [117.162221, 34.246663],
                [117.162522, 34.246689],
                [117.167156, 34.246548],
                [117.167296, 34.249048],
                [117.167446, 34.24919],
                [117.167693, 34.249235],
                [117.174956, 34.249057],
                [117.176287, 34.248986],
                [117.176255, 34.246654],
                [117.177081, 34.246556],
                [117.176995, 34.246193],
                [117.175364, 34.246273],
                [117.175214, 34.246113],
                [117.176566, 34.245333],
                [117.177639, 34.245217],
                [117.179065, 34.245164],
                [117.179688, 34.245075],
                [117.180053, 34.245226],
                [117.180804, 34.246361],
                [117.181544, 34.24739],
                [117.18208, 34.247328],
                [117.183014, 34.248437],
                [117.182542, 34.248774],
                [117.184044, 34.250574],
                [117.184333, 34.250636],
                [117.184784, 34.250281],
                [117.185417, 34.24982],
                [117.185868, 34.249687],
                [117.186232, 34.249687],
                [117.186898, 34.249687],
                [117.186876, 34.249589],
                [117.186726, 34.249244],
                [117.186458, 34.249031],
                [117.186962, 34.248561],
                [117.186983, 34.247771],
                [117.187187, 34.247647],
                [117.186147, 34.245466],
                [117.183716, 34.242104],
                [117.183309, 34.241501],
                [117.183223, 34.241253],
                [117.184167, 34.239461],
                [117.182686, 34.237031],
                [117.181099, 34.23751],
                [117.177816, 34.232809],
                [117.179103, 34.232294],
                [117.177751, 34.231922],
                [117.176507, 34.231123],
                [117.175241, 34.231727],
                [117.174769, 34.231194],
                [117.174468, 34.231283],
                [117.174168, 34.230999],
                [117.173605, 34.231274],
                [117.169868, 34.227223],
                [117.169814, 34.227072],
                [117.169878, 34.226939],
                [117.16946, 34.22654],
                [117.169793, 34.226202],
                [117.169449, 34.225635],
                [117.167947, 34.225697],
                [117.167389, 34.22583],
                [117.165608, 34.227347],
                [117.16035, 34.222519],
                [117.159455, 34.222702],
                [117.158565, 34.222693],
                [117.157631, 34.222684],
                [117.156516, 34.222862],
                [117.15526, 34.223421],
                [117.154445, 34.223562],
                [117.153007, 34.223633],
                [117.151216, 34.224068],
                [117.150304, 34.224458],
                [117.149724, 34.224867],
                [117.14907, 34.226002],
                [117.14878, 34.226171],
                [117.148737, 34.226534],
                [117.148303, 34.226694],
                [117.146479, 34.227466],
                [117.146307, 34.227466],
                [117.145803, 34.227705],
                [117.145138, 34.227732],
                [117.145159, 34.226871],
                [117.145138, 34.226667],
                [117.14517, 34.226401],
                [117.145073, 34.225913],
                [117.144526, 34.225443],
                [117.144279, 34.225417],
                [117.144011, 34.225248],
                [117.142305, 34.225745],
                [117.14208, 34.225975],
                [117.142187, 34.226987],
                [117.142166, 34.227271],
                [117.141908, 34.227439],
                [117.14134, 34.227333],
                [117.140835, 34.226783],
                [117.14016, 34.226738],
                [117.139816, 34.226446],
                [117.139913, 34.226321],
                [117.140149, 34.226259],
                [117.140213, 34.225851],
                [117.140793, 34.225656],
                [117.14076, 34.225328],
                [117.140385, 34.225266],
                [117.140235, 34.225071],
                [117.140202, 34.224929],
                [117.138486, 34.22515],
                [117.138314, 34.225239],
                [117.137552, 34.226064],
                [117.137381, 34.226685],
                [117.137434, 34.22696],
                [117.138389, 34.229054],
                [117.138625, 34.229116],
                [117.139119, 34.229559],
                [117.139076, 34.230047],
                [117.138979, 34.230056],
                [117.138379, 34.229763],
                [117.138207, 34.229852],
                [117.137681, 34.22963],
                [117.137016, 34.230313],
                [117.137016, 34.230428],
                [117.137606, 34.230854],
                [117.13605, 34.23159],
                [117.132639, 34.233471],
                [117.130911, 34.23442],
                [117.129495, 34.235325],
                [117.128465, 34.235981],
            ]
        };

        // 添加遮罩
        var polygonOptions = {
            map: map,
            strokeColor: '#97EC71',
            strokeWeight: 3,
            fillColor: '#fff',
            fillOpacity: 0.98
        };

        var pathArray = [
            pointers.outer,
            pointers.inner
        ];
        var polygon = new AMap.Polygon(polygonOptions);
        polygon.setPath(pathArray);

    </script>
</body>

</html>